:root {
  --primary-background-color: #ffffff;
  --primary-text-color: #434455;
  --secondary-background-color: #2e2f42;
  --background-color-btn: #f4f4fd;
  --second-color-btn: #4d5ae5;
  --link-icon-color: #8e8f99;
  --portfolio-btn-color: #404bbf;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px;
  transform: translate(-50%, -50%);
  width: 392px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.span-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-background-color);
}
.studio-color {
  color: #404bbf;
}
.hero {
  background: #2e2f42;
  padding-top: 112px;
  padding-bottom: 112px;
  margin: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/Dark-bg@1x.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  margin-bottom: 72px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.btn-subscribe {
  display: flex;
  min-width: 165px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  gap: 16px;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-tablet {
  color: #2e2f42;
}
.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background: #404bbf;
  border-radius: 2px;
}

.order-btn {
  display: block;
  margin: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-background-color);
  background: var(--second-color-btn);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feature-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  width: 100%;
}

.ourteam {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  background: #f4f4fd;
  padding: 96px 0;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  margin-top: 8px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-link {
  width: 100%;
  height: 100%;
  background-color: var(--second-color-btn);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: var(--background-color-btn);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--portfolio-btn-color);
}

.container-team {
  margin-right: auto;
  margin-left: auto;
}
/* employee */

.employee {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.employee-position {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-align: center;
}
.worker {
  padding: 32px 0px;
  text-align: center;
}

.employee-fon {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.custom {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.company {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: 72px 16px;
  justify-content: center;
  align-items: center;
}
.company-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  color: var(--link-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list-icon {
  fill: currentColor;
}

.company-list-link:hover,
.company-list-link:focus {
  border-color: var(--portfolio-btn-color);
}
.company-list-link:hover,
.company-list-link:focus {
  color: var(--portfolio-btn-color);
}
.footer {
  padding-top: 96px;
  background: #2e2f42;
  padding-bottom: 92px;
}
.footer-email {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer-subscribe-input {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  opacity: 0.6;
  padding-left: 16px;
  line-height: 1.5;
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 0.04em;
  width: 100%;
  height: 40px;
}
.text-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 268px;
}
.footer-subscribe-input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  color: ar(--second-color-btn);
}
.span-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-subs {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
}
.footer-social-list-link {
  width: 100%;
  height: 100%;
  background-color: var(--second-color-btn);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-icon {
  fill: var(--background-color-btn);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--portfolio-btn-color);
}

.main {
  margin: auto;
}
.order-btn:hover,
.order-btn:focus {
  background: var(--portfolio-btn-color);
}

.fon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.icon {
  width: 64px;
  height: 64px;
}

/*what are we doing*/

.promo {
  padding-bottom: 120px;
}

.desc {
  padding-top: 0;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.email-subscribe {
  display: flex;
  align-items: center;
  width: 264px;
  gap: 24px;
}
.exempel {
  padding-top: 96px;
  padding-bottom: 96px;
}
.list-promo-img {
  display: flex;
  column-gap: 24px;
  row-gap: 72px;
}
.list-promo-img-second {
  padding: 0px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.list-contact {
  display: flex;
  align-items: center;
  gap: 12px;
}
/* mobile */
.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desctop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .address {
    display: none;
  }
  .promo {
    display: none;
  }
  .fon {
    display: none;
  }
  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  /* .text-exempel-first:nth-last-child(1) { margin-bottom: 0;
  } */
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 24px;
  }
  .mobile-contact-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    position: relative;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current-mobile {
    color: #404bbf;
  }
  .mobile-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
    padding-right: 0px;
  }
  .mobile-email {
    padding-top: 40px;
  }
  .mobile-email-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .mobile-social-list {
    display: flex;
    gap: 56px;
    margin-top: 48px;
    align-items: center;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 320px) and (max-width: 427px) {
    .mobile-social-list {
      gap: 25px;
    }
      }
  .mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color var(--transition-duration-and-func);
  }
  .mobile-social-list-icon {
    fill: #f4f4fd;
  }
  .feature {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .list-promo-img-second {
    flex-direction: column;
    gap: 72px;
  }
  .list-promo-img {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .company-logo {
    width: 100%;
    height: 100%;
    width: calc((100% - 16px) / 2);
    height: 88px;
  }
  .footer {
    padding-top: 96px;
    background: #2e2f42;
    padding-bottom: 92px;
  }
  .footer-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-subs {
    justify-content: center;
  }
  .footer-subscribe-form {
    display: flex;
    margin-bottom: 16px;
  }
  .email-subscribe {
    display: block;
    width: 100%;
  }
  @media screen and (max-width: 320px) {
      .modal {
        width: 90%;
  }
  }
  /* @media screen and (min-width: 428px) {
    .modal {
      width: 100%;
}
  } */
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/Dark-bg@1x.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/Dark-bg@2x.jpg');
  }
}
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .page-header {
    padding: 0;
  }
  .promo {
    display: none;
  }
  .fon {
    display: none;
  }
  .list-contact {
    flex-direction: column;
  }
  .menu {
    display: flex;
    gap: 40px;
    color: #2e2f42;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .text-exempel-first {
    width: calc((100% - 48px) / 4);
  }
  .footer-second {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    width: 584px;
    flex-wrap: wrap;
    gap: 72px 24px;
     }
  .address-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
  .feature {
    text-align: start;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .modal {
    width: 408px;
    min-height: 584px;
  }
  .text-exempel {
    margin-bottom: 0px;
    flex-basis: calc((100% - 24px) / 2);
  }
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/Tablet-Dark-bg@1x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/Tablet-Dark-bg@2x.jpg');
    }
  }
  .hero-text {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .list-promo-img {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .list-promo-img-second {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
  .company {
    gap: 72px 24px;
  }
  .company-logo {
    width: 168px;
    height: 88px;
  }

  .footer-subs {
    text-align: left;
  }
  .footer-subscribe-form {
    display: flex;
  }
  .footer-subscribe-input {
    width: 264px;
  }

  .footer-container {
    align-items: flex-start;
  }
}

/* Desctop */
@media screen and (min-width: 1158px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .promo {
    display: block;
  }
  .exempel {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .fon {
    display: flex;
  }
  .list-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .address-item {
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-item:hover,
  .address-item:focus {
    color: var(--portfolio-btn-color);
  }
  .hero-text {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    max-width: 496px;
  }
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/people-office@1x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/people-office@2x.jpg');
    }
  }
  .feature {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .feature-description {
    font-weight: 400;
  }
  .team-list {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .company {
    gap: 24px;
  }
  .company-logo {
    width: 168px;
    height: 88px;
  }
  .company-list-link {
    width: 100%;
    height: 100%;
  }
  .custom {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-second {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    gap: inherit;
    flex-wrap: nowrap;
  }
  .footer-email {
    width: 453px;
  }
  .footer-subs {
    text-align: left;
  }
  .footer-container {
    margin-right: 120px;
  }
  .footer-social {
    align-items: start;
    margin-right: 80px;
  }

  .footer-subscribe-input {
    width: 264px;
  }
  .footer-subscribe-form {
    display: flex;
  }
}
/* Subscribe */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background: #404bbf;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}
/* contact-form  */
.contact-form-field-wrapper {
  margin-bottom: 8px;
}
.contact-modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.contact-form-field {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.contact-form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
.contact-form-field-textarea {
  margin-bottom: 16px;
}
.contact-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}
.contact-form-field-checkbox {
  margin-bottom: 24px;
}
.contact-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: var(--secondary-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-item {
  position: relative;
  display: block;
}
.contact-form-input:focus + .contact-form-icon {
  fill: #4d5ae5;
}
/* checkbox */

.contact-form-checkbox-wrapper {
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--link-icon-color);
}

.contact-form-checkbox-icon {
  display: inline-flex;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.contact-form-checkbox:checked + .contact-form-checkbox-wrapper > .contact-form-checkbox-icon {
  background-color: var(--portfolio-btn-color);
  border: none;
  fill: #ffffff;
  border-color: var(--portfolio-btn-color);
}
.privacy-policy {
  text-decoration-line: underline;
  color: var(--second-color-btn);
}
.contact-form-btn {
  display: block;
  padding: 16px 32px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio */

.portfolio {
  padding: 96px 0 120px;
}
.portfolio-color {
  color: #404bbf;
}
.btn-filter {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--background-color-btn);
  color: var(--second-color-btn);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-button {
  display: flex;
  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}
.btn-filter:hover,
.btn-filter:focus {
  background: var(--portfolio-btn-color);
  color: #ffffff;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-first {
  width: calc((100% - 48px) / 3);
}
.list-project-card {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-card {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.project-card-item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-border {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.card-content {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover .overlay,
.portfolio-item-link:focus .overlay {
  transform: translateY(0%);
}
